<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionClass.Properties.Settings.XWingsFactoryConnectionString"
            connectionString="Data Source=wookie-code.database.windows.net;Initial Catalog=XWingsFactory;Persist Security Info=True;User ID=Wookie;Password=123456789aA"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>