<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BadgesConnectionString"
        connectionString="Data Source=W10B304PC08;Initial Catalog=SecureCore;User ID=prova;Password=12345aA"
        providerName="System.Data.OleDb" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>