<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>  
  <connectionStrings>   
      <add name="XWingsFactoryEntities1" connectionString="metadata=res://*/XWingsFactoryEntities.csdl|res://*/XWingsFactoryEntities.ssdl|res://*/XWingsFactoryEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wookie-code.database.windows.net;initial catalog=XWingsFactory;persist security info=True;user id=Wookie;password=123456789aA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="SecureCodeSplashScreen.Properties.Settings.SecureCoreConnectionString1"
      connectionString="Data Source=wookie-code.database.windows.net;Initial Catalog=SecureCore;User ID=Wookie;Password=123456789aA"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="UserName" value="value2" />
    <add key="AccesLevel" value="value3" />
    <add key="Icon" value="value3" />

  </appSettings>
</configuration>