<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="GestionDB.Properties.Settings.SecureCoreConnectionString" connectionString="Data Source=wookie-code.database.windows.net;Initial Catalog=SecureCore;User ID=Wookie;Password=123456789aA" providerName="System.Data.SqlClient" />
    <add name="XWingsFactoryEntities" connectionString="metadata=res://*/XWingsFactoryEntities.csdl|res://*/XWingsFactoryEntities.ssdl|res://*/XWingsFactoryEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wookie-code.database.windows.net;initial catalog=XWingsFactory;persist security info=True;user id=Wookie;password=123456789aA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>