<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SdsTexBox.Properties.Settings.XWingsFactoryConnectionString"
            connectionString="Data Source=W10B304PC06;Initial Catalog=XWingsFactory;Persist Security Info=True;User ID=Ruben;Password=12345aA"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>